body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    background-color: red;
}

#box {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

#box1 {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.1s;
}

#box2 {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.2s;
}

#box3 {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.3s;
}

#box4 {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.4s;
}

#box5 {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.5s;
}


#box6 {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.6s;
}

#box7 {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.7s;
}

#box8 {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 100%;
    animation-name: bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.8s;
}


img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

@keyframes bouncing {
    to {
        transform: translate(0px, -500px);
    }
}