body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 212, 212);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: box;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    animation-direction: alternate;

}


@keyframes box {
    

    0% {
        background-color: yellow;
        transform: rotate(360deg) scale(1.3);
    }

    25% {
        background-color: green;
        transform: rotate(360deg) scale(1.3);
    }

    75% {
        background-color: blue;
        transform: rotate(360deg) scale(1.3);
    }
    100% {
        background-color: violet;
        transform: rotate(360deg) scale(1.3);
    }
}
#box6 {
    height: 50px;
    width: 50px;
    background-color: red;
}

#box5 {
    height: 100px;
    width: 100px;
    background-color: orange;
}

#box4 {
    height: 150px;
    width: 150px;
    background-color: yellow;
}

#box3 {
    height: 200px;
    width: 200px;
    background-color: green;
}

#box2 {
    height: 250px;
    width: 250px;
    background-color: blue;
}

#box1 {
    height: 300px;
    width: 300px;
    background-color: violet;
}

