article h2 {
    background-color: aqua;  /*desendent selector*/
} 

article>div>h2 {
    background-color: blueviolet; /*child selector*/
}

article>section>div>h2 {
    background-color: brown;   /*child selector*/
} 

article+h2 {
    background-color: red;   /*adjecent selector*/
}

article~h2 {
    background-color: yellow;  /*general selector*/
}