#container3 {
    height: 600px;
    width: 100%;
    border: 5px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: yellowgreen;
    border-radius: 25px 0px 25px 0px;
}

#container {
    height: 400px;
    width: 400px;
    border: 3px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
    border-radius: 25px 0px 25px 0px;
}

#container2 {
    height: 400px;
    width: 400px;
    border: 3px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: aquamarine;
    border-radius: 25px 0px 25px 0px;
}

#box1, #box2, #box3 ,#box4 {
    height: 150px;
    width: 150px;
    border: 1.5px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px 0px 25px 0px;
}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: red;
}
#box3 {
    background-color: purple;
}
#box4 {
    background-color: rgb(0, 92, 128);
}