#main-container {
    height: 750px;
    width: 100%;
    border: 3px solid red;
    background-image: url("https://images.wallpapersden.com/image/download/amazing-mountain-sunset-hd-ai-art_bmZsam6UmZqaraWkpJRnbmZnrWZraGc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #login-container {
    height: 600px;
    width: 400px;
    background-color: rgba(237, 199, 171, 0.5);
  }
  #login-img {
    height: 300px;
    width: 100%;
    /* border: 5px solid green; */
  }
  img {
    height: 300px;
    width: 100%;
  }
  #form-container {
    height: 300px;
    width: 100%;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  input {
    height: 20px;
    width: 70%;
    border-radius: 15px;
    outline: none;
    background-color: #f4e8db;
    border: none;
  }
  #forgotpassword {
    height: 30px;
    width: 70%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #forgotpassword > a {
    color: white;
    text-decoration: none;
  }
  button {
    height: 30px;
    width: 70%;
    background-color: #decfc4;
    border: none;
  }
  #form-container>a{
      text-decoration: none;
      color: white;
  }
  h1{
      margin-right: 200px;
      color: white;
  }