#box1 {
    height: 500px;
    width: 400px;
    border: 3px solid;
    overflow: auto;
}

#box1::-webkit-scrollbar{
    width: 15px;
}
#box1::-webkit-scrollbar-thumb{
    background-color: aqua;
    border-radius: 30px;
}

#box1::-webkit-scrollbar-track{
    background-color: black;
    border-radius: 30px;
}

#box2 {
    height: 270px;
    width: 100%;
    border: 3px solid;
    border-color: rgb(3, 115, 76);
    overflow-x: auto;
    display: flex;
}