div {
    height: 100px;
    width: 100%;
    transition-duration: 1s;
}
div:nth-child(even) {
    background-color: red;
     
}

div:nth-child(even):hover {
    background-color: rgb(30, 20, 238);
    height: 200px;
    width: 300px;
    border-radius: 50%;
}

div:nth-child(odd) {
    background-color: rgb(6, 0, 0);
   
}

div:nth-child(odd):hover {
    background-color: rgb(16, 190, 27);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
