*{
    margin:0px;
    padding:0px;   
}


.nav_container
{
   width:100%;
   height:70px;
   display:flex;
   align-items:center;
   background-color:black;

   position:fixed;
   z-index:9;
    
} 
.nav_logo
{
    width:170.64px;
    height:54.21px;
   /* border:2px solid green; */
   margin:0px 7.6px 0px 50px;
   display:flex;
   align-items:center;
}
.nav_logo a img
{
  height:40px;
}
.nav_links
{
    width:800px;
    /* border:2px solid red; */
    margin:0px 8px;
}
.nav_links ul 
{
display: flex;
list-style:none;
justify-content:space-evenly;
}
.nav_links ul a{
    color:#ffff;
    text-decoration:none;
    font-size:20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav_link_2
{
    display: flex;
    align-items:center;
   justify-content:space-evenly;
   width:400px;
   margin-left:40px; 
}
.nav_link_2 a
{
    color:#ffff;
    text-decoration:none;
    font-size:18px;
}
#search_icon 
{
font-size:30px;
}
#contac_us
{
    color:#ffffff9f;
}