body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    height: 200px;
    width: 200px;
    background-color: red;
    transition-duration: 5s;
    border-radius: 100%;
}

#box:hover {
    transform: rotate(100000deg);
    transform: translate(-300px, -300px);
    transform: skew(180deg);
}