#sec1 {
    height: 100px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#sec2 {
    height: 500px;
    width: 100%;
    border: 5px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#cart {
    border: 5px solid green;
    padding: 20px;
}

div {
    height: 150px;
    width: 150px;
    border: 3px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cartItems div {
    height: auto;
    width: 200px;
    margin: 10px 0;
    padding: 10px;
}
